# PostgreSQL (Railway)
PGHOST=trolley.proxy.rlwy.net
PGPORT=53193
PGDATABASE=railway
PGUSER=postgres
PGPASSWORD=

# Servidor
PORT=8083

# Email Brevo
BREVO_API_KEY=
BREVO_FROM_EMAIL=noreply@bidly.com
